$color_primary: #ffa500;
$color_primary_light: #ffbf48;
$color_primary_dark: #b86800;

$color_secondary: #514538;
$color_secondary_light: #b8a99a;
$color_secondary_dark: #201a13;

$color_success: #00dbbc;
$color_success_dark: #00a187;

$font_primary: 'Roboto', sans-serif;
$font_secondary: 'Roboto', sans-serif;
$font_default_size: 14px;
$font_default_weight: 400;
$font_heading_weight: 600;
$font_default_line_height: 20px;